<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">
<head>
  <title data-th-text="${loggedInUser.name}+' | Dashboard'">Dashboard</title>
</head>
<body>
  <div id="content">
    <!-- sidebar -->
    <!-- user is logged in : sidebar -->
    <div th:if="${loggedInUser}">
      <div data-th-replace="~{user/sidebar :: sidebar}"></div>
    </div>

    <div class="sm:pl-64 pt-20 min-h-screen bg-gray-100 dark:bg-gray-900">
      <div class="container mx-auto px-4">
        <div class="flex justify-center flex-col items-center">
          <h1 class="text-5xl font-bold text-gray-800 dark:text-white mb-4">
            Welcome to Dashboard
          </h1>
          <p class="text-lg text-gray-600 dark:text-gray-300 mb-8">
            Here are some of our functionalities you can access
          </p>
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-1 gap-8">
            <div class="p-6 bg-white dark:bg-gray-800 rounded-lg shadow-md">
              <h2 class="text-2xl font-semibold text-gray-800 dark:text-white mb-2">
                Add Contacts
              </h2>
              <p class="text-gray-600 dark:text-gray-300 mb-4">
                You can add contacts here.
              </p>
              <a
                href="http://localhost:8081/user/contacts/add"
                class="bg-blue-600 text-white px-6 py-3 rounded-full font-semibold hover:bg-blue-700 transition duration-300"
              >
                Add
              </a>
            </div>
            <div class="p-6 bg-white dark:bg-gray-800 rounded-lg shadow-md">
              <h2 class="text-2xl font-semibold text-gray-800 dark:text-white mb-2">
                View Contacts
              </h2>
              <p class="text-gray-600 dark:text-gray-300 mb-4">
                You can view all your contacts here.
              </p>
              <a
                href="http://localhost:8081/user/contacts"
                class="bg-blue-600 text-white px-6 py-3 rounded-full font-semibold hover:bg-blue-700 transition duration-300"
              >
                View
              </a>
            
          </div>
        </div>
      </div>
    </div>
    

  <script>
    console.log("Dashboard page loaded");
  </script>
</body>
</html>